<article class="post">
    <blockquote>
        List data yang berhasil terekam oleh <b>Chip DIVES</b>
    </blockquote>
    <div class="table-wrapper">
        <table>
            <thead>
                <tr>
                    <th>NO</th>
                    <th>NOPOL</th>
                    <th>WAKTU</th>
                    <th><center>#</center></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>L 6125 QZ</td>
                    <td>12-01-2018 16:00:00</td>
                    <td>
                        <center>
                            <div class="button small">Detail</div>
                        </center>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3"></td>
                    <td style="float: right">
                        <a href="javascript:;" class="button">Selengkapnya...</a>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</article>