<section id="sidebar">

    <!-- Intro -->
    <section id="intro">
        <a href="#" class="logo"><img src="images/go-park.png" alt="" /></a>
        <header>
            <h2>DIVES</h2>
            <p>Penelitian Identifikasi Kendaraan</a></p>
        </header>
    </section>

    <!-- About -->
    <section class="blurb">
        <h2>About</h2>
        <p>
            <b>DIVES</b> (Digital Vihacle Identifications) adalah sebuah konsep perekaman data dengan media <b>CHIP</b>
            dan dengan object <b>Kendaraan bermotor</b>. Konsep ini begitu <b>User Friendly</b>, karena didukung dengan
            Teknologi canggih dan tampilan yang baik.
        </p>
        <ul class="actions">
            <li><a href="#" class="button">Selengkapnya...</a></li>
        </ul>
    </section>

    <!-- Footer -->
    <section id="footer">
        <ul class="icons">
            <li><a href="#" class="fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="#" class="fa-rss"><span class="label">RSS</span></a></li>
            <li><a href="#" class="fa-envelope"><span class="label">Email</span></a></li>
        </ul>
        <p class="copyright">&copy; DIVES 2018, by: <a href="javascript:;">BAYSPTR</a>.</p>
    </section>

</section>